---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif : "Roboto", sans-serif;
$serif      : "Roboto Condensed", serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {

  // fix navigation font sizes
  .masthead__menu-item {
  	font-size: 14px;
  }

  // convert all headers to serif font
  h1, h2, h3 {
  	font-family: $serif !important;
    margin-top: 1em;
  }

  // flex display for all page content -- esp for mobile
  .page__content {
  	margin-top: 24px;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: left;
  }

  // adjust font size for posts paragraphs
  .page__content p {
  	font-size: 0.8em !important; 
  	line-height: 1.2;
  	font-weight: 100;
    width: 100%;
  }

  .main-logo{
    height: 200px !important
  }

  .page__content li {
	 font-size: 0.8em !important;
  }

  // main landing page adjustments
  .main-page {
  	font-size: 14px;
  	line-height: 1;
  	padding-inline-start: 20px;
  }

  .main-body {
	margin-top: 20px;
	line-height: 0.2;
  }

  // edit emphasis colors and weight
  strong{
  	font-weight: 900;
  	color: #bc3541; 
  }

  // for archieve page titles
  .archive__item-title{
    font-size: 0.8em;
  }

  .archive__item-excerpt{
    font-weight: 100;
    color: #b4b4b5;
    font-style: italics;
  }

  .sidebar {
    width: calc(200px - 2em);
  }

  td, th {
    border: 0px solid grey
}

  @media only screen and (max-width: 1023px) {
 
	  .splash > .page__content > .page__content{
	  	justify-content: center;
	  }

    .archive__item-title{
      font-size: 1em;
    }

	  .main-body {
		margin-top: 10px;
  	}

    .sidebar {
    width: 100%;
  }
  }

}