---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif : "Roboto", sans-serif;
$serif      : "Roboto Condensed", serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {

  .masthead__menu-item {
  	font-size: 14px;
  }

  h1, h2, h3 {
  	font-family: $serif;
  }

  .page__content {
  	margin-top: 24px;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: left;
  }

  .page__content p {
  	font-size: 0.8em !important; 
  	line-height: 1.2;
  	font-weight: 100;
  }

  .page__content li {
	 font-size: 0.8em !important;
  }

  .main-page {
  	font-size: 14px;
  	line-height: 1;
  	padding-inline-start: 20px;
  }

  .main-body {
	margin-top: 20px;
	line-height: 0.2;
  }

  strong{
  	font-weight: 900;
  	color: #bc3541; 
  }

  @media only screen and (max-width: 600px) {
 
	  .splash > .page__content {
	  	justify-content: center;
	  }

	  .main-body {
		margin-top: 10px;
  	}
  }


}